@font-face {
    font-family: "antartidarounded-black";
    src: url(lib/fuentes/AntartidaRounded-Black.ttf) format(“truetype”);
    }
    @font-face {
        font-family: "antartidarounded-blackitalic";
        src: url(lib/fuentes/AntartidaRounded-BlackItalic.ttf) format(“truetype”);
        }
        @font-face {
            font-family: "antartidarounded-bold";
            src: url(lib/fuentes/AntartidaRounded-Bold.ttf) format(“truetype”);
            }
            @font-face {
                font-family: "antartidarounded-light";
                src: url(lib/fuentes/AntartidaRounded-Light.ttf) format(“truetype”);
                }
                @font-face {
                    font-family: "antartidarounded-medium";
                    src: url(lib/fuentes/AntartidaRounded-Medium.ttf) format(“truetype”);
                    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.banner h2{
    font-family: “antartidarounded-black”,  sans-serif;
    font-size: 30px;
    line-height: 31px;
}

.bg-green{background-color: #4D972D;}
.bg-facebook{background-color: #8498C9;}
.bg-instagram{background-color: #7F43C0;}
.bg-twiter{background-color: #1FDDE1;}
.text-green{color: #4D972D;}
.bg-darkblue{background-color: #081430;}
.text-black{color: #000;}



.solid-line{border-bottom: 3px solid #ccc; margin: 0 20px;}

.blog{
    height: 100%;
}
header a{
    font-size: 10px; line-height: 18px;
    font-weight: bold;
}
 a{
    color: #000;
    text-decoration: none;
}

header{
    padding: 10px 20px;
}
header .header-icon,
header .header-logo,
header .header-redes{ height: 100px; display: flex; align-items: center;}
header .header-redes img{
    margin: 0px 5px;
}



/* The side navigation menu */
.sidenav {
    height: 60%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  .sidenav .header-redes-sidebar{
      margin-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 10px;
  }

  .low-header .low-header-item{
      margin: 0 20px;
  }
  .low-header .low-header-item a{
      font-size: 10px;
      line-height: 18px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


.banner{
    width: 100%;
    padding: 20px 100px;
}
.base{
    width: 100%;
    padding: 20px 100px;
}

.base .box-text{
    max-width: 800px; 
}

.next-redes-box {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    height: 50px;
}
.noticias-descubre-text{
    background-color: #fff;
    /* border: 1px solid #000; */
    width: 230px;
    display: block;
    margin: auto;
    position: relative;
    margin-top: -20px;
}

.noticias-descubre-text p{
    text-decoration: none;
    color: #000;
    font-size: 13px;
    text-align: center;
}
.noticias-redes{
    margin: 0 20px;
}

.noticias-redes span{
    color: #fff;
    font-size: 10px;
    line-height: 18px;
}
.noticias-redes p{
    font-size: 10px;
    line-height: 18px;
}
.noticias-redes .follow-cont{
    padding: 5px 10px;
    margin-bottom: 5px;
}
.noticias-redes .follow-cont .likes{
    float: right;
}
.noticias-vistos .box-noticias-cont{
    display: flex;
    margin-bottom: 10px;
    
}
.noticias-vistos .box-noticias-cont .box-noticias-cont-item{
    max-width: 130px;
    margin: 0 2px;
}
.noticias-vistos .box-noticias-cont .box-noticias-cont-item img{
    width: 90%;
}
.noticias-vistos .box-noticias-cont .box-noticias-cont-item span{
    font-size: 13px;
    line-height: 18px;
}

.noticias-vistos {
    margin: 20px 15px;
}

.noticias-vistos span{
    font-size: 10px;
    line-height: 18px;
}
.noticias-forum span{
    font-size: 10px;
    line-height: 18px;
}

.sidebar{
    width: 350px;
}

.base .box-item-base{
    max-width: 800px;
}

 .banner-img{
    display: block;
    margin: auto;
    max-width: 800px;
}
.articulo-banner-img{
    display: block;
    margin: auto;
    background-image: url("img/atardecer.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    max-width: 1000px; /* You must set a specified height */
    min-height: 400px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.articulo-banner-img-2{
    display: block;
    margin: auto;
    background-image: url("img/liebre.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    max-width: 1000px; /* You must set a specified height */
    min-height: 400px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.articulo-banner-img-3{
    display: block;
    margin: auto;
    background-image: url("img/bus-interno.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    max-width: 1000px; /* You must set a specified height */
    min-height: 400px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.banner .banner-img .box-item-base{
    margin: auto;
    max-width: 690px;

}

 .box-item{
    max-width: 200px;
}
.box-item p{
    font-size: 13px;
    line-height: 18px;
}

 .box-item img{
    width: 100%;
}

 .box-text{
    text-align: center;
    margin: 15px 5rem;
}
 .box-text p{
    font-size: 21px;
    line-height: 25px;
    min-height: 90px;
}
.box-text h6{
    font-size: 10px;
    line-height: 18px;
}

.box-text span{
    font-size: 10px;
    line-height: 18px;
}

.noticias-descubre-img{
    max-width: 350px;
    display: flex;
    justify-content: center;
    
}

/* .noticias-descubre-img img{
    display: block;
    margin: auto;
} */
.noticias-section{
    margin-top: 10px;
    margin-bottom: 15px;
}

.noticias-forum .cont{
    border: 1px solid #4D992D;
    border-top: 5px solid #4D992D;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.noticias-forum .cont h3{
    font-size: 17px;
    line-height: 18px;
}

.noticias-forum .cont .box-cont{
    display: block;
    margin: auto;
}
footer{
    padding: 5%;
}
footer .box-cont .box-cont-item a{
    display: flex;
    justify-content: space-between;
    margin: 10px 30px 10px 0;
    border-bottom: 2px solid #ccc;
}
footer .box-cont .box-cont-item a span{
    color: #3D94F5;
    font-size: 12px;
    line-height: 20px;
}

footer .box-cont h4{
    color: #fff;
    font-size: 10px;
    line-height: 18px;
}
footer .box-cont p{
    color: #fff;
    font-size: 10px;
    line-height: 18px;
    font-weight: bold;
}
footer .box-cont span{
    color: #fff;
    font-size: 10px;
    line-height: 18px;
}

footer .box-cont .tiempos{
    margin-top: 15px;
    color: #4D982D;
}

.footer-items{
    border: 1px solid #fff;
    padding: 5px 10px;
}

.quieres-saber-mas input[type=text-name]{
text-align: center;
border: 1px solid #4D972D;
color: #4D972D;
}

.form-in-header  input[type=text] {
    width: 260px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 10px;
    line-height: 18px;
    color: #fff;
    /* background-color: #081430; */
    background-image: url(img/navbar-seacher.svg);
    background-position: 220px 14px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px;
    margin-left: 20px;
}
/* SEACHER BUTTON */
 input[type=text] {
    width: 315px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 10px;
    line-height: 18px;
    color: #fff;
    /* background-color: #081430; */
    background-image: url(img/seacher.svg);
    background-position: 280px 16px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px;
}
  